/* ======== TRES EN RAYA ======== */
.cell {
  box-sizing: border-box;
  width: 125px;
  height: 125px;
  border: 2px solid #000000;
  box-shadow: 0 0 0 2px;
  line-height: 5px;
  font-size: 100px;
  background: linear-gradient(135deg, rgba(255,105,180,0.95), rgba(135,206,235,0.95));
  cursor: pointer; 
}

#game-section {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0;
  margin: 0 auto;
  justify-content: center; 
}

